@page "/admin"
<h3 class="featured-title">Administración</h3>
<div class="text-center
">
<h4>Bienveido al apartado de administración</h4>
<p>Haz uso de las obciones del menu para administrar pedidos, clientes o productos</p></div>