@page "/my-account"

<h3 class="featured-title">My account</h3>
@if (name != null)
{
    <div class="text-center">
        <h4>Bienvenido a AmsStore, @name!</h4>
        <p>
Use el menú para navegar a través de la información de su cuenta.</p>
    </div>
}

@code {
    string name;
    [CascadingParameter] Task<AuthenticationState> GetAuthStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthStateTask;
        name = authState.User.Identity.Name;
    }

}
