@page "/login/thankyou"
@attribute [AllowAnonymous]
@layout MainLayout

<h2 class="featured-title">Registration</h2>
<div class="text-center col-12 px-5 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
    <h3>Thank you for signing up to BlazorStore.</h3>
    <p>We've sent you an email to verify your account; once you've done with that, you'll be able to make orders and enjoy all the customer benefits.</p>
    <a href="login" class="btn btn-secondary">Login to continue</a>
</div>