@inherits LayoutComponentBase
@layout MainLayout
<div class="row">
    <div class="col-12 col-md-2">
        <h4>Account options</h4>
        <div class="account-menu">
            <ul class="navbar-nav bg-light">
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-account/profile" Match="NavLinkMatch.All">My profile</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-account/orders">Orders</NavLink>
                </li>
                <li class="nav-item">
                    <hr />
                    <form method="post" action="/account/logout">
                        <button class="btn w-100 btn-danger">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-10">
        @Body
    </div>
</div>
