
<h3 class="featured-title mt-2">Productos destacados</h3>
<div class="product-list featured">
   @{
       if (Products!=null)
       {
        @foreach (var product in Products)
        {
                <FeaturedProduct Product="product" />
        }
       }
    }

</div>

@code {

    [Parameter]  public IReadOnlyList<ProductDto> Products { get; set; }
  
}